<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
 
 	<bean id="OrderListExcel"
	   	class="com.dsky.baas.configservice.service.excel.PassedOrderListView">
	</bean>
	
	<bean id="StatisticsPic1Excel"
	   	class="com.dsky.baas.configservice.service.excel.StatisticsPic1View">
	</bean>
	
	<bean id="StatisticsPic2Excel"
	   	class="com.dsky.baas.configservice.service.excel.StatisticsPic2View">
	</bean>
	<bean id="StatisticsPic3Excel"
	   	class="com.dsky.baas.configservice.service.excel.StatisticsPic3View">
	</bean>
</beans>