/** layout **/
.clearfix:after,.layout:after{content:'\20';display:block;height:0;clear:both;visibility:hidden}
.clearfix,.layout{*zoom:1}
.fl{float:left;}
.fr{float:right;}

.grid{margin:0 5px;}
.grid table{width:100%;}
.grid table td,.grid table th{height: 52px;line-height: 52px;}
.grid table td{text-align: center;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;}
.grid table .odd td{background:#f9f9f9;}
.grid table .check td{background:#fffae6;border-top:1px solid #faf0c8;border-bottom:1px solid #faf0c8;}

.grid table .checkbox{width:16px;height: 16px;background: url("img/checkbox_bg.png") no-repeat;cursor:pointer;display: inline-block;*display: inline:*zoom:1;}
.grid table .checkbox-check{background-position: 0 -16px;}
.grid table td a{
	color:#fff;
	display:inline-block;
	*display:inline;
	*zoom:1;
	background:rgb(123,123,123);
	width:65px;
	height:24px;
	text-align:center;
	line-height:24px;
}
.tfoot{margin: 16px}

.pagination{height:30px;text-align: center;margin:50px 0 100px;position: relative;}
.pagination span,.pagination a{height: 28px;padding:0 12px;margin:0 2px;background:#fff;display: inline-block;*zoom:1;*display: inline;text-align: center;line-height:28px;border:1px solid #b7b7b7;font-size: 12px;vertical-align: top;}
.pagination a.cur{background:#4590d1;border: 1px solid #4590d1;text-decoration: none;color:#fff;}